

page-login {
 
        p{
            font-size: 0.8em;
            color: #d2d2d2;
        }
.swiper-pagination-bullet-active{
  background: #fff !important;
}
.login-box{
  position: absolute;
  top: 10%;
  z-index: 100000;
  width: 100%;
  /*margin-top: 25vh;*/
}

  .scroll-content{
   background-color: rgba(0, 0, 0, 0.7);
  }
  .login-box .item-inner{
    /*border-bottom: solid #fff 6px !important;*/
  }
  ion-input{
    background-color: transparent;
  }
}