<ion-header no-border>

  <ion-navbar  color="dark" transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #fff" fullscreen>
<div style="background-color: #f4f4f4" *ngIf="ad" class="ad43">
  <img style="background-color:#f7f7fc"  src="{{ base_url }}/assets/uploads/user_ads/{{ ad.image }}">
  <span id="ad_details" padding>
      <h3>₦{{ ad.price}}</h3>
      <p class="pd3">{{ ad.name }}</p>
      <p class="e2">{{ ad.date}}  <span class="middle_dot">·</span> {{ ad.category_name}}</p>
      <p class="s2"><ion-icon name="md-pin" style="color: #8BC34A"></ion-icon> {{ ad.lga_name }}, {{ ad.state_name }}</p>
  </span>
</div>
<div class="divider"></div>
<div  *ngIf="ad" padding>
  <p>Description: </p>
  <p class="description">{{ ad.description}}</p>
</div>
<div class="divider"></div>
<div padding text-center>
  <p *ngIf="showNumber">Tap to call</p>
  <button ion-button icon-left block round color="light_green" *ngIf="!showNumber" (click)="showPhone()" ><ion-icon name="md-call"></ion-icon> Show phone</button>
  <button ion-button icon-left block round color="light_green" *ngIf="showNumber" ><ion-icon name="md-call"></ion-icon>  {{ ad.phone }}</button>
</div>
<div class="divider"></div>
 <ion-list *ngIf="ad" padding >
    <ion-item>
      <ion-avatar *ngIf="ad.poster.photo" item-start>
          <img style="" src="{{ base_url }}/assets/uploads/profile/{{ ad.poster.photo }}" >
      </ion-avatar>
      <span class="name_badge" item-start id="cl{{ ad.poster.cl_no }}" *ngIf="!ad.poster.photo">
        {{ ad.poster.name | slice:0:1 }}
      </span>
      <h3>{{ ad.poster.name}}</h3>
    </ion-item>
</ion-list> 

</ion-content>
