<ion-header  no-border>

  <ion-navbar  color="white" transparent>
    <ion-searchbar (ionInput)="searchAds($event)" placeholder="Search "  [showCancelButton]="true"  (ionCancel)="onCancel($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button clear large color="light_green" (click)="openFilterModal()">
        <ion-icon style="font-size: 2em;" name="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #f7f7f7" fullscreen>


  <div text-center style="margin-top: 20vh" *ngIf="noConnection && !loading2">
    <ion-icon name="ios-flash-outline" style="font-size: 6em; color: #666"></ion-icon>
    <p style=" color: #666">Could Not Connect</p>

      <button ion-button outline small color="dark" (click)="LoadFilters()">
        Tap to Reconnect
      </button>
  </div>


<div padding text-center  *ngIf="loading2 && !ads" style="margin-top: 5vh">
   <ion-spinner style="font-size: 5em" color="light_green" name="crescent" ></ion-spinner>
</div>


  <div padding text-center *ngIf="ads && ads.length < 1 && !loading2" style="margin-top: 20vh">
    <h5 style="color: #212121">Sorry... No Ad results at the moment</h5>
    <ion-icon style="font-size: 8em; color: #8BC34A " name="md-search"></ion-icon>
    <p style="color: #666">You can try changing your search term/location or category.</p>
  </div>

   <div class="wrapper">
      <section class="ad_cont" *ngFor="let item of ads"  (click)="viewProduct(item)">
        <img style="background-color:#f7f7fc"  src="{{ base_url }}/assets/uploads/user_ads/{{ item.image }}">
		<div>
			<h2>₦{{ item.price }}</h2>
			<p class="f3">{{ item.name }}</p>
			<p class="l3">{{ item.lga_name }}, {{ item.state_name }}</p>
		</div>

      </section>

   </div>

</ion-content>
