<ion-header>

  <ion-navbar  color="white">
    <ion-title>Sell on Agrifo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  >
<div style="background-color: #f4f4f4" >
<ion-list >
  
<ion-item>
  <ion-label floating>Type</ion-label>
  <ion-select [(ngModel)]="data.type" >
    <ion-option  value="product">Product</ion-option>
    <ion-option  value="service">Service</ion-option>
  </ion-select>
</ion-item>
  
<ion-item *ngIf="categories">
  <ion-label floating>Category</ion-label>
  <ion-select [(ngModel)]="data.category" interface="popover">
    <ion-option  value="{{category.id}}"  *ngFor="let category of categories['0']">{{ category.name }}</ion-option>
  </ion-select>
</ion-item>

  <ion-item>
    <ion-label color="dark" floating>Title</ion-label>
    <ion-input  [(ngModel)]="data.name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" floating>Description</ion-label>
    <ion-textarea style="height: 100px"  [(ngModel)]="data.description" ></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label color="dark">State</ion-label>
    <ion-select name="state" [(ngModel)]="data.state" required  (ngModelChange)="filterLga(data.state)">
      <ion-option *ngFor="let state of states"  value="{{state.id}}">{{ state.name }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="dark">Local Govt. Area</ion-label>
    <ion-select [disabled]="!data.state" name="lga" [(ngModel)]="data.lga" required>
      <ion-option  *ngFor="let lga of filtered_lga"  value="{{lga.id}}">{{ lga.name }}</ion-option>
    </ion-select>
  </ion-item> 

  <ion-item>
    <ion-label color="dark" fixed>Quantity</ion-label>
    <ion-input type="number" [(ngModel)]="data.quantity"></ion-input>
  </ion-item> 

  <ion-item>
    <ion-label color="dark" fixed>Price (NGN)</ion-label>
    <ion-input type="number" [(ngModel)]="data.price"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label color="dark"  floating>Contact</ion-label>
    <ion-input type="number" [(ngModel)]="data.phone"></ion-input>
  </ion-item>
  <ion-item>
  <div text-center>
    <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
    <h3 [hidden]="lastImage !== null">Please Select An Image</h3>
    <button ion-button icon-only (click)="presentActionSheet()" color="dark" outline class="img_button">
      <ion-icon name="ios-camera-outline"></ion-icon>
    </button>
  </div>
  </ion-item>

  <ion-item>
  	<button ion-button color="dark" (click)="addProduct()" full >Post</button>
  </ion-item>

  </ion-list>

</div>


</ion-content>
